<div class="row-md-2 text-center">
<div class="col-2 text-center">
  <h1> Contractor's Claim: </h1>
  <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
</div>

<div class="col-2 text-center">
  <h1> Freelancer's Claim: </h1>
  <p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
</div>
</div>
<div class="col-md-12 text-center">
<p><a class="btn btn-primary" href= "../my-project" role="button">Vote</a></p>
</div>
<h2>Code under review: </h2>
<span class="code" style="text-align:left; float:left" >{% autoescape off %}{{ code }}{% endautoescape %} </span>
