{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      {%if not project_title%}
      <div class="col-md-12 text-center">
        <form method = 'post' action = 'result/'>
          {%csrf_token%}
          <table class = "table-condensed center">
          {{form.as_table}}
          </table>

          <button class="btn btn-primary" type = "submit">Next</button>
        </form>
        {%endif%}
      </div>
        {%if project_title %}
      <div class="col-md-12 text-left">
        <h1>Cool! We have just uploaded your project spec to the blockchain! </h1>

        <h2>{{project_title}}</h2>
        <h2>{{project_desc}}</h2>
        <h2>{{project_amount}}</h2>

        <h1>Now we can help you find a skilled freelancer! </h1>


        <p><a class="btn btn-primary" href= "../../find-freelancer/" role="button">Next</a></p>
      </div>
      {%endif%}
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
