{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row-md-3">
  




      <div class="col-md-12 text-center">

        {%if not status %}
        <h1> didnt work </h1>
        {%endif%}

        {%if status %}

        <p><a class="btn btn-primary" href= "../my-project" role="button">Back</a></p>

        <h1>Current Status: {{status.0}} </h1>
        <h1>  <a href="http://localhost:8080/ipfs/{{status.1}}">View Code</a></h1>
        {%endif%}


      </div>
    </div>
  </div>
</div>

{% endblock container %}
